{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pedidos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <br>
  <a class="btn btn-bg btn-success" href="/pos/new_order/"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Nuevo Pedido telefónico</a>
  <a class="btn btn-bg btn-info" href="/pos/sale/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Nueva venta en el lugar</a>
  <br>
  <br>
  <table id="data-table-basic" class="table table-striped">
    <thead>
      <tr>
        <th>Nº pedido</th>
        <th>Producto(s)</th>
        <th>Cliente</th>
        <th>Comentarios</th>
        <th>Fecha entrega</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          
          <td><a href="/pos/order/{{order.id}}">
          #{{ order.id }}
          {% if order.comments %}
              <span class="label label-danger">Comentarios</span>
          {% endif %}
          </a></td>
          <td><a href="/pos/order/{{order.id}}">{{ order.description}}</a></td>
          <td>{{ order.user_info }}</td>
          {% language 'es' %}
            <td>{{ order.comments | safe }}</td>
            <td><div style="display: none">{{ order.retire_time | date:"Ymd" }}</div> {{ order.retire_time | date:"D, d M Y H"}}:00</td>
          {% endlanguage %}
          <td>
            {% if order.status == 1 %}
              <span class="label label-default">
                {{ order.status_description }}
              </span>
            {% elif order.status == 4 %}
              <span class="label label-warning">
                {{ order.status_description }}
              </span>
            {% elif order.status == 5 %}
              <span class="label label-success">
                {{ order.status_description }}
              </span>
            {% else %}
              <span class="label label-info">
                {{ order.status_description }}
              </span>
            {% endif %}
            <br>
            <form method="POST" action="/pos/change_order_status/">
              <input type="hidden" name="order_id" value="{{order.id}}"></input>
              <select name="new_order_status" id="new_order_status" onchange="this.form.submit()">
                  <option value=""></option>
                  <option value="1">Por hacer</option>
                  <option value="4">Rellenado</option>
                  <option value="5">Completo</option>
              </select>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
        <!-- Javascript Libraries -->
        <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#data-table-basic').DataTable({paging: false, order: [[ 4, "asc" ]]});
            } );
        </script>
</body>
</html>



