{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jackies.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jackies.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jackies.interpolate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/management.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/services/authentication.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/services/api_consumer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/services/generic_functions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/dropdowns.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/shopping_cart.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/directives/layout.directives.js' %}"></script>
