{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Jackie's Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'dashboard/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'dashboard/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">


        <div class="sidebar" data-color="purple" data-image="{% static 'dashboard/img/sidebar-1.jpg' %}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a class="simple-text">
                    Jackie's
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/dashboard/">
                            <i class="material-icons">dashboard</i>
                            <p>Resumen</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/sales/">
                            <i class="material-icons">poll</i>
                            <p>Ventas mensuales</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/sales_by_year/">
                            <i class="material-icons">show_chart</i>
                            <p>Ventas por año</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/sales_by_type/">
                            <i class="material-icons">pie_chart</i>
                            <p>Ventas por tipo</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/sales_by_sku/">
                            <i class="material-icons">pie_chart</i>
                            <p>Ventas por SKU</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Total recaudado este mes</p>
                                    <h3 class="title">{{ amount_this_month }}</h3>
                                    {% if is_amount_compared_with_last_year_greater %}
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{amount_compared_with_last_year_percentage}}%</span>
                                    {% else %}
                                    <span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{amount_compared_with_last_year_percentage}}%</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">local_grocery_store</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Cantidad pedidos este mes</p>
                                    <h3 class="title">{{ count_this_month }}</h3>
                                    {% if is_count_compared_with_last_year_greater %}
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{count_compared_with_last_year_percentage}}%</span>
                                    {% else %}
                                    <span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{count_compared_with_last_year_percentage}}%</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">insert_invitation</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Pedidos pendientes de entrega</p>
                                    <h3 class="title">{{ open_now }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="blue">
                                    <i class="material-icons">laptop</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Ventas por internet (este mes)</p>
                                    <h3 class="title">{{ internet_sales_count }}</h3>
                                    <span class="text-success">{{count_compared_with_no_internet_percentage}}% del total de pedidos
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">                       
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Últimas ventas</h4>
                                    <p class="category">Últimas ventas realizadas</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Nº pedido</th>
                                            <th>Producto(s)</th>
                                            <th>Cliente</th>
                                            <th>Fecha retiro</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody> 
                                            {% for order in last_5_sales %}
                                            <tr>
                                                <td>#{{order.id }}</td>
                                                <td>{{ order.description}}</td>
                                                <td>{{ order.user_info }}</td>
                                                <td>{{ order.retire_time | date:"D, d M Y H"}}:00</td>
                                                <td>{{ order.total }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">Pendientes</h4>
                                    <p class="category">Pedidos pendientes de entrega</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>Nº pedido</th>
                                            <th>Producto(s)</th>
                                            <th>Cliente</th>
                                            <th>Fecha entrega</th>
                                        </thead>
                                        <tbody>
                                            {% for order in open_orders %}
                                            <tr>
                                                <td>#{{order.id }}</td>
                                                <td>{{ order.description}}</td>
                                                <td>{{ order.user_info }}</td>
                                                <td>{{ order.retire_time | date:"D, d M Y H"}}:00</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>









<!--   Core JS Files   -->
<script src="{% static 'dashboard/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/material.min.js' %}"></script>
<!--  Charts Plugin -->
<script src="{% static 'dashboard/js/chartist.min.js' %}"></script>
<!--  Dynamic Elements plugin -->
<script src="{% static 'dashboard/js/arrive.min.js' %}"></script>
<!--  PerfectScrollbar Library -->
<script src="{% static 'dashboard/js/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'dashboard/js/bootstrap-notify.js' %}"></script>


<!-- Material Dashboard javascript methods -->
<script src="{% static 'dashboard/js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'dashboard/js/demo.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
var ctx = document.getElementById("myChart4").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["<  1","1 - 2","3 - 4","5 - 9","10 - 14","15 - 19","20 - 24","25 - 29","> - 29"],
        datasets: [{
            label: 'Employee',
            backgroundColor: "#caf270",
            data: [12, 59, 5, 56, 58,12, 59, 87, 45],
        }, {
            label: 'Engineer',
            backgroundColor: "#45c490",
            data: [12, 59, 5, 56, 58,12, 59, 85, 23],
        }, {
            label: 'Government',
            backgroundColor: "#008d93",
            data: [12, 59, 5, 56, 58,12, 59, 65, 51],
        }, {
            label: 'Political parties',
            backgroundColor: "#2e5468",
            data: [12, 59, 5, 56, 58, 12, 59, 12, 74],
        }],
    },
options: {
    tooltips: {
      displayColors: true,
      callbacks:{
        mode: 'x',
      },
    },
    scales: {
      xAxes: [{
        stacked: true,
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        stacked: true,
        ticks: {
          beginAtZero: true,
        },
        type: 'linear',
      }]
    },
        responsive: true,
        maintainAspectRatio: false,
        legend: { position: 'bottom' },
    }
});
</script>

</html>